@import "tailwindcss";

@theme inline {
  --color-primary: #1e40af;
  --color-primary-dark: #1e3a8a;
  --color-primary-light: #3b82f6;
  --color-accent: #f59e0b;
  --color-accent-dark: #d97706;
  --font-sans: var(--font-geist-sans);
}
